.rota-horizontal{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.centrar{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}


.contPedido{
width: 48%;
//background: gray;
height: auto;
margin-left: 10px;
border-radius: 10px;
margin-top: 15px;
overflow: hidden;
}

.dotos{
width: 100;
min-height:100px;
//background: red;
}

.parte{
width: 45%;
min-height: 100px;
// background: blueviolet;
}

.medio{
width: 10%;
min-height: 100px;
// background: blue;
}

.centrarIZ{
display: flex;
flex-wrap:wrap;
justify-content: left;
align-items: center;
}


.enLavabderia{
background: #129EC7 ;
}
.enCamino{
background: #FF9052;
}

.entregando{
background: #18C712 ;
}


.informacion{
width: 100%;
background: #23374d;
height: 0px;
overflow: hidden;
}

.listaServices{
background: #252525;
width: 45%;
height: 100%;
padding: 5px;

}

.listaServices::content p{
width: 100%;
text-align: center;
}

.infoGeneral{
background: #414141;
width: 55%;
height: 100%;
}

::-webkit-scrollbar{
width: 0px;
}

@media(max-width:600px){

.contPedido{
width: 95%;
margin: auto;
margin-top: 15px;
}



}