<ion-header style="z-index: 100;">
  <ion-toolbar color="primary" >
    <ion-buttons slot="start">
      <ion-back-button (click)="regresar()">

      </ion-back-button>
    </ion-buttons>
       <ion-input  [(ngModel)]="nombresDecliente" placeholder="Ingresa el nombre de una lavandería"></ion-input>

       <ion-buttons slot="end">
        <ion-button style="font-size: 15px;">
          <img src="../../../assets/iconos/search.png" style="width: 16px; ">
        </ion-button>
       
        <ion-button *ngIf="!viewFilters" (click)="vewFiltros()">
          <img src="../../../assets/iconos/filter.png" style="width: 16px;">
        </ion-button>

        <ion-button style="font-size: 15px;"
        
        *ngIf="viewFilters" (click)="vewFiltros()">
          <img src="../../../assets/iconos/filter (1).png" style="width: 16px;">
        </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>


  
  <ion-content color=secondary>




      <div class="filtros" id="filtro11" > 
          <ion-header>
              <ion-toolbar color="success">
                <ion-title>
                    Staus del pedido:
                </ion-title>
              </ion-toolbar>
            </ion-header>
          <div style="z-index: 70;">
            <ion-item color="medium" *ngFor="let filtro of filtros">
              <ion-checkbox 
              [(ngModel)]="filtro.stado"
              style="margin:6px;"></ion-checkbox>
               {{filtro.filtro}}
            </ion-item>
    
            <ion-item  color="medium" >
              <ion-button slot="end" (click)="vewFiltros()">
                Cancelar
              </ion-button>
              <ion-button slot="end" (click)="verStadosDefiltros()">
                buscar
              </ion-button>
            </ion-item>
          </div>
          
  
  
  
        </div>












    <div style="width: 100%; height: auto; display: flex; flex-wrap: wrap; padding-bottom: 17px;">

    

      <p *ngIf="(pedidos.length==0 && buscando!=true && sin_coteccion!=true)" style="margin:auto; margin-top: 15px;">Sin pedidos realizados :(</p>

      <div class="centrar" style="width: 100%;" *ngIf="sin_coteccion">
        <label class="centrar">
            <p>Ninguna pedido encontrada :( <br> Revice su conexión a internet</p>
        </label>       
      </div>


    <div class="contePrime" *ngFor="let pedido of pedidos | inicioStatus:nombresDecliente " [ngClass]="{ 'nooo':pedido.ser_visto==false}">


      <div  class="vista centrar "
      
      [ngClass]="{'nuevo':pedido.status=='Nuevo pedido', 
      'cancelado':pedido.status=='Cancelado',
      'lavanderia':pedido.status=='En proceso',
      'encalino1':pedido.status=='Entregando',
      'encalino2':pedido.status=='A lavandería',
      'recojer':pedido.status=='Recogiendo',
      'final':pedido.status=='Finalizado',
      'resperando':pedido.status=='Lista y limpia'
        }"
      
      >



        <div class="mitad centrar ">
          <label style="font-size: 13px;">
              <p>{{pedido.nombre}}</p>
              <p>{{pedido.hora}}</p>
          </label>
          
        </div>


  

        <div class="mitad centrar">
            <label >
              <p class="centrar" style="font-size:12px;">Status</p>

              <p class="centrar">
                <img src="{{pedido.icon}}" width="30px;" style="margin:4px;" [ngClass]="{'rota-horizontal':pedido.status=='A lavandería'}">
                {{pedido.status}}
              </p>

            </label>

        </div>

        <button class="bontoMax" (click)="verDetalles(pedido)">
   

        </button>

      </div>


    </div>


    <div class="centrar" style="width: 100%;" *ngIf="buscando">
      <label class="centrar">
          <img src="../../../assets/iconos/A37.gif" style="width: 80px; margin: auto;">
          <p>Buscando pedidos realizados...</p>
      </label>       
    </div>  


  </div>
  </ion-content>