<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
        <ion-back-button (click)="regresar()"></ion-back-button>
     </ion-buttons> 
      <ion-title>Staus de pedido</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color=secondary>
    <div style="width: 100%; height: auto; display: flex; flex-wrap: wrap; padding-bottom: 17px;">
    <div class="contePrime" *ngFor="let pedido of pedidos">












      <div class="vista centrar "
      
      [ngClass]="{
            'lavanderia':pedido.status=='En lavanderia',
            'encalino1':pedido.status=='En entraga',
            'encalino2':pedido.status=='A lavandería',
            'recojer':pedido.status=='En camino',
            'nuevo':pedido.status=='Nuevo pedido'
      }"
      
      >



        <div class="mitad centrar ">
          <label style="font-size: 13px;">
              <p>{{pedido.nombre}}</p>
              <p>{{pedido.hora}}</p>
          </label>
          
        </div>


  

        <div class="mitad centrar">
            <label >
              <p class="centrar" style="font-size:12px;">Status</p>

              <p class="centrar">
                <img src="{{pedido.icon}}" width="30px;" style="margin:4px;" [ngClass]="{'rota-horizontal':pedido.status=='A lavandería'}">
                {{pedido.status}}
              </p>

            </label>

        </div>

        <button class="bontoMax" (click)="verDetalles(pedido)">
   

        </button>

      </div>















    















    </div>


  </div>
  </ion-content>