
.contPart,.contPart1{
    padding: 10px;
    position: relative;
}

.contPart::content p{
   // color: #414141;
    margin-left: 10px;
    font-size: 17px;
}
.contPart::content h5,.contPart1::content h5{
    color: #5f6769;
}

.contPart::content label{
    color: #52de97;
    font-size: 12px;
    margin-left: 13px;
}

.iconos{
    width: 23px;
    margin: 3px;
}

.status1{
    width: 100px;
    height: auto;
   // border: 2px solid blue;
    position: absolute;
    top: 7px;
    right: 7px;
    border-radius:10px;
    padding: 10px;

    -webkit-box-shadow: 7px 5px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 7px 5px 9px -4px rgba(0,0,0,0.75);
}

.primero::content p{
    //background: blueviolet;
    width: 65%;
}

.centrar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.centrarIz{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
}

.butonicon{
    width:50px;
    height: 50px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin: auto;
    background: #414141;
    outline: none;
    -webkit-box-shadow: 1px 4px 13px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 4px 13px 3px rgba(0,0,0,0.75);
box-shadow: 1px 4px 13px 3px rgba(0,0,0,0.75);
}
.partend{
    width: 100%;
    height: auto;
    padding: 10px;
}

.partend::content p{
    font-size: 11px;
    text-align: center;
    color: gold;
}


.cancelado{
    background: #ff0000;
    color: aliceblue;

}

.nuevo{
    background: #8a00d4;
    color: white;
}

.lavanderia{
    background: #1089ff;
    color: #e5e5e5
}

.encalino1{
    background: #94fc13;
    color: #032d3c;
}

.encalino2{
    background: #032d3c;
    color: #94fc13;
}

.recojer{
    background: #23374d;
    color: #e5e5e5;
}

.resperando{
    background: #00818a;
    color: #e5e5e5;
}


.final{
    background: #f45905;
    color: #e5e5e5;
}

.rota-horizontal{
    -webkit-transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}