<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
    <ion-back-button ></ion-back-button>
 </ion-buttons> 
  <ion-title>Pedido</ion-title>
</ion-toolbar>
</ion-header>

<ion-content color=secondary>







  <div class="contPart1 primero">
     <h4>{{pedido.nombre}}</h4> 

    <h5 class="centrarIz">
     <br>
     <br>
     
          <img src="../../../assets/Status/hanger.png" class="iconos">
          Servicios solicitados:
     
      </h5>
        <h6 style="color: #c0ffb3; border-bottom: 1px solid #c0ffb3;" *ngIf="pedido.servicios_lavanderia.length>0">
          Lavado
        </h6>
          <p *ngFor="let lava of pedido.servicios_lavanderia"> {{lava.servicio}} ${{lava.precio}} por {{lava.unidad}}</p>

        <h6 style="color: #c0ffb3; border-bottom: 1px solid #c0ffb3;" *ngIf="pedido.servicios_tititoreria.length>0">
            Tintoreria
          </h6>

          <p *ngFor="let tintor of pedido.servicios_tititoreria"> {{tintor.servicio}} ${{tintor.precio}} por {{tintor.unidad}}</p>



          <h6 style="color: #c0ffb3;  border-bottom: 1px solid #c0ffb3;" *ngIf="pedido.servicios_planchado.length>0">
              Planchado
            </h6>
            
          <p *ngFor="let planc of pedido.servicios_tititoreria"> ${{planc.precio}} por {{planc.unidad}}</p>










    <br>
    <h5 class="centrarIz">
      
      <img src="../../../assets/Status/strategy.png" class="iconos">
      Indicaciones:
    
    </h5>

    <p style="width: 95%;" >
     {{pedido.indicaciones}}
    </p>


    <div class="status1 centrar "
    [ngClass]="{
      'lavanderia':pedido.status=='En lavanderia',
      'encalino1':pedido.status=='En entraga',
      'encalino2':pedido.status=='A lavandería',
      'recojer':pedido.status=='En camino',
      'nuevo':pedido.status=='Nuevo pedido'
    }"
    >
        <p style="width: 100%; text-align: center; font-size: 11px;">status:</p>
        <img src="{{pedido.icon}}" width="40px">
        <p style="width: 100%; text-align: center; font-size: 12px;">{{pedido.status}}</p>
    </div>


  </div>








  <div class="contPart ">
      <br>
    <h5 class="centrarIz">
    
      <img src="../../../assets/Status/t-shirt-black-silhouette.png" class="iconos">
      Datos de ropa:</h5>

    <label >Kilos: </label> <p>5 kg</p>
    <label >Piezas extras: </label> <p> pieza / tipo</p>

  </div>










  <div class="contPart ">
      <br>
    <h5 class="centrarIz">
      
      <img src="../../../assets/Status/invoice.png" class="iconos">
      Costes:
    </h5>

    <label >Transporte a lavandería:</label>
    <p>$50</p>

    <label >Transporte a su domicilio:</label>
    <p>$50</p>

    <label >Servicios de lavandería:</label>
    <p>$100</p>

    <label >total:</label>
    <p>$200</p>

    <label >fecha</label>

  </div>





<div class="centrar partend">

  <div style="margin:auto;">
    <p>Ver lavandería</p>
      <button 
      (click)="irAlavanderia()"
      class="butonicon centrar" style="text-align: center;">
          <img src="../../../assets/iconos/store.png" class="iconos" style="margin:auto;">
      </button>
  </div>

  
  <div style="margin:auto;">
    <p>Ver ruta</p>
    <button
    (click)="irAStatus()"
    class="butonicon centrar" style="text-align: center;">
        <img src="../../../assets/iconos/map.png" class="iconos" style="margin:auto;">
    </button>
  </div>
</div>

</ion-content>
