<ion-header>
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
    <ion-back-button (click)="regresar()"></ion-back-button>
 </ion-buttons> 
  <ion-title>Pedido</ion-title>
</ion-toolbar>
</ion-header>

<ion-content color=secondary>







  <div class="contPart1 primero">
     <h4>{{pedido.nombre}}</h4> 

    <h5 class="centrarIz">
     <br>
     <br>
     
          <img src="../../../assets/Status/hanger.png" class="iconos">
          Servicios solicitados:
     
      </h5>
        <h6 style="color: #c0ffb3; border-bottom: 1px solid #c0ffb3;" *ngIf="pedido.servicios_lavanderia.length>0">
          Lavado
        </h6>
          
          <div *ngFor="let lava of pedido.servicios_lavanderia">
            <p >{{lava.servicio}} ${{lava.precio}} por {{lava.unidad}}</p>
            <div *ngIf="lava.costo!=0" class="centrar" style="width: 100%; ">
              <p style="margin: auto; color: #52de97; width: 40%;" class="centrar">
                {{lava.unidad}}/s: 
                <label style="color: white;">
                   {{lava.cantidad}}
                </label>
               
              </p>
              <p style="margin: auto;color:  #52de97; width: 40%;" class="centrar">
                Costo:      
                <label style="color: white;">
                   ${{lava.costo}}
                </label>
              </p>
            </div>
          
         </div>
    
          

          <h6 style="color: #c0ffb3; border-bottom: 1px solid #c0ffb3;" *ngIf="pedido.servicios_tititoreria.length>0">
            Tintoreria
          </h6>

       
          <div *ngFor="let tintor of pedido.servicios_tititoreria">
            <p >{{tintor.servicio}} ${{tintor.precio}} por {{tintor.unidad}}</p>
            <div *ngIf="tintor.costo!=0" class="centrar" style="width: 100%; ">
              <p style="margin: auto; color: #52de97; width: 40%;" class="centrar">
                {{tintor.unidad}}/s: 
                <label style="color: white;">
                   {{tintor.cantidad}}
                </label>
               
              </p>
              <p style="margin: auto;color:  #52de97; width: 40%;" class="centrar">
                Costo:      
                <label style="color: white;">
                   ${{tintor.costo}}
                </label>
              </p>
            </div>
          
         </div>

          <h6 style="color: #c0ffb3;  border-bottom: 1px solid #c0ffb3;" *ngIf="pedido.servicios_planchado.length>0">
              Planchado
            </h6>
        
          <div *ngFor="let planc of pedido.servicios_tititoreria">
            <p >{{planc.unidad}} ${{planc.precio}}</p>
            <div *ngIf="planc.costo!=0" class="centrar" style="width: 100%; ">
              <p style="margin: auto; color: #52de97; width: 40%;"  class="centrar">
                {{planc.unidad}}/s: 
                <label style="color: white;">
                  ${{planc.cantidad}}
                </label>
               
              </p>
              <p style="margin: auto; color: #52de97; width: 40%;" class="centrar">
                Costo:      
                <label style="color: white;">
                  {{planc.costo}}
                </label>
              </p>
            </div>
          
         </div>








    
    <h5 class="centrarIz">
      <br>
      <br>
      <br>
      <img src="../../../assets/Status/strategy.png" class="iconos">
      Indicaciones:
    </h5>

    <p style="width: 95%; margin-left: 15px; margin-top: -1px;" >
     {{pedido.indicaciones}}
    </p>


    <div class="status1 centrar "
    [ngClass]="{'nuevo':pedido.status=='Nuevo pedido', 
    'cancelado':pedido.status=='Cancelado',
    'lavanderia':pedido.status=='En proceso',
    'encalino1':pedido.status=='Entregando',
    'encalino2':pedido.status=='A lavandería',
    'recojer':pedido.status=='Recogiendo',
    'final':pedido.status=='Finalizado',
    'resperando':pedido.status=='Lista y limpia'
      }"
    >
        <p style="width: 100%; text-align: center; font-size: 11px;">status:</p>
        <img src="{{pedido.icon}}" width="40px">
        <p style="width: 100%; text-align: center; font-size: 12px;">{{pedido.status}}</p>
    </div>


  </div>






  <div class="contPart ">

    <h5 class="centrarIz">
      
      <img src="../../../assets/Status/invoice.png" class="iconos">
      Costes:
    </h5>

    <div *ngIf="tipo_de_entrega=='solo_recojer' || tipo_de_entrega=='completo'">
      <label >Transporte a lavandería:</label>
      <p>${{costoReparto1}}</p>
    </div>
    
    <div *ngIf="tipo_de_entrega=='solo_entregar' || tipo_de_entrega=='completo'">
      <label >Transporte a su domicilio:</label>
      <p>${{costoReparto1}}</p>
    </div>
  
    <div *ngIf="costoLavanderia>0">
      <label >Servicios de lavandería:</label>
      <p>${{costoLavanderia}}</p>
    </div>
  
    <div *ngIf="costoLavanderia>0">
      <label >total:</label>
      <p>${{total}}</p>
    </div>
    

    <label >fecha</label>

  </div>





<div class="centrar partend">

  <div style="margin:auto;">
    <p>Ver lavandería</p>
      <button 
      (click)="irAlavanderia()"
      class="butonicon centrar" style="text-align: center;">
          <img src="../../../assets/iconos/store.png" class="iconos" style="margin:auto;">
      </button>
  </div>

  <!--*ngIf="(pedido.status=='Entregando' || pedido.status=='Recogiendo' || pedido.status=='A lavandería')"-->
  <div style="margin:auto;" *ngIf="(pedido.status=='Entregando' || pedido.status=='Recogiendo' || pedido.status=='A lavandería')">
    <p>Ver repartidor</p>
    <button
    (click)="irAStatus()"
    class="butonicon centrar" style="text-align: center;">
        <img src="../../../assets/iconos/bike.png" class="iconos" style="margin:auto;">
    </button>
  </div>


  <ion-button *ngIf="pedido.status=='Entregando'" (click)="comfirmarRecivido()" style="width: 90%; margin: auto; margin-top: 15px;">
    Confirmar entrega
  </ion-button>

  <ion-button *ngIf="pedido.status=='Lista y limpia'" (click)="comfirmarRecivido()" style="width: 90%; margin: auto; margin-top: 15px;">
    Confirmar entrega
  </ion-button>


  <ion-button *ngIf="pedido.status=='Nuevo pedido'" (click)="cancelarRecivido()" style="width: 90%; margin: auto; margin-top: 15px;">
    Cancelar
  </ion-button>

</div>

</ion-content>
