<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
         </ion-buttons>  
      <ion-title>Solicitud de servicio</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color=secondary>
  
  <div class="contenedor" >

    <div class="infoStatus centrar">


        <div class="parte centrar  "  [ngClass]="{'actual':this.efectos.actual==0 }">
          <img src="{{this.efectos.iconLavadors}}" width="30px">
        </div>


        <div class="parte centrar"  [ngClass]="{'actual':this.efectos.actual==1 }">
          <img src="{{this.efectos.iconMoto}}" width="30px">
        </div>

        <div class="parte centrar"  [ngClass]="{'actual':this.efectos.actual==2 }">
            <img src="{{this.efectos.iconinstrucciones}}" width="30px">
        </div>


        <div class="parte centrar"  [ngClass]="{'actual':this.efectos.actual==3 }">
            <img src="{{this.efectos.iconNota}}" width="30px">
        </div>
    </div>
















     <!--servcios----------------------------------------------------------> 

      <div 
          style="position: relative;"
          [ngClass]="{'ocultar':this.efectos.actual!=0,'semegmento':this.efectos.actual==0 }"
      >
      
    
      <h4>Servicios requeridos</h4>      
      <div class="contScroll">
        <h5 *ngIf=" this.efectos.cantidadPedidaDeLavanderia!=0" style="color: #3c9d9b;">
            <br>
          Lavandería:</h5>
        <label *ngFor="let servi of servicios">
              <p  class="centrarIZ"  *ngIf="servi.elegido">
                  {{servi.servicio}}
                  <img 
                  (click)="this.efectos.removerServicio(servi,0,servicios)"
                  src="{{this.efectos.iconMenos}}" width="20px" style="margin-left: 5px; cursor: pointer;">
              </p>
        </label>

        


        <h5 *ngIf=" this.efectos.cantidadPedidaDeTintoreria!=0" style="color: #3c9d9b;">
            <br>
          Tintoreria:</h5>
        <label *ngFor="let tinto of tintoreria">
            <p  class="centrarIZ"  *ngIf="tinto.elegido">
                {{tinto.servicio}}
                <img 
                (click)="this.efectos.removerServicio(tinto,1,tintoreria)"
                src="{{this.efectos.iconMenos}}" width="20px" style="margin-left: 5px; cursor: pointer;">
            </p>
        </label>



        <h5 *ngIf=" this.efectos.cantidadPedidadDePlanchado!=0" style="color: #3c9d9b;">
          <br>
          Planchado:</h5>

        <label *ngFor="let pla of planchados">
            <p  class="centrarIZ"  *ngIf="pla.elegido">
                {{pla.servicio}}
                <img 
                (click)="this.efectos.removerServicio(pla,2,planchados)"
                src="{{this.efectos.iconMenos}}" width="20px" style="margin-left: 5px; cursor: pointer;">
            </p>
        </label>

        

        <label *ngIf="this.efectos.cantidadPedidaDeLavanderia==0 && 
                      this.efectos.cantidadPedidaDeTintoreria==0 &&
                      this.efectos.cantidadPedidadDePlanchado==0
        ">Ninguno :(
          </label>
        
          
      </div>    

      
      <div class="conteother">
        
          <div class="listaNoelegida" *ngIf="this.efectos.listaServicios">
              <div class="menuBotono centrar">
                  <button class="botonIcon centrar " *ngIf="servicios!=null" [ngClass]="{'este':actualservicio==0}" (click)="cambiarServicio(0)">
                      <img *ngIf="actualservicio!=0" src="../../../assets/pedir/washing-machine.png"  style="position: absolute; width: 20px;">
                      <img *ngIf="actualservicio==0" src="../../../assets/pedir/washing-machineG.png"  style="position: absolute; width: 20px;">
                  </button>
                  <button class="botonIcon centrar" *ngIf="tintoreria.length>0" [ngClass]="{'este':actualservicio==1}" (click)="cambiarServicio(1)">
                    <img *ngIf="actualservicio!=1" src="../../../assets/pedir/suit.png" style="position: absolute; width: 20px;">
                    <img *ngIf="actualservicio==1" src="../../../assets/pedir/suitG.png" style="position: absolute; width: 20px;">
                  </button>
                  <button class="botonIcon centrar" *ngIf="planchados.length>0" [ngClass]="{'este':actualservicio==2}" (click)="cambiarServicio(2)">
                    <img *ngIf="actualservicio!=2" src="../../../assets/pedir/iron.png" style="position: absolute; width: 20px;">
                    <img *ngIf="actualservicio==2" src="../../../assets/pedir/ironG.png" style="position: absolute; width: 20px;">
                  </button>
              </div>


             <div *ngIf="actualservicio==0">
              <label *ngFor="let servi2 of servicios">
                <p  style="margin-left: 10px; margin-right: 10px;"
                (click)="this.efectos. addServicio(servi2,0,servicios)"
                class="centrarIZ"  *ngIf="!servi2.elegido">
                    {{servi2.servicio}}  ${{servi2.precio}}
               </p>
               </label>


               <p *ngIf="this.efectos.cantidadPedidaDeLavanderia == servicios.length" style="margin-left: 15px; margin-right: 15px; border: none;">
                  A solicitado todos los servicios de lavandería :)
                </p>
             </div> 
          

             <div *ngIf="actualservicio==1">
                <label *ngFor="let tinto of tintoreria">
                    <p  style="margin-left: 10px; margin-right: 10px;"
                    (click)="this.efectos. addServicio(tinto,1,tintoreria)"
                    class="centrarIZ"  *ngIf="!tinto.elegido">
                        {{tinto.servicio}} ${{tinto.precio}}
                   </p>
                  </label>


                  <p *ngIf="this.efectos.cantidadPedidaDeTintoreria == tintoreria.length" style="margin-left: 15px; margin-right: 15px; border: none;">
                      A solicitado todos los servicios de tintoreria :)
                  </p>
             </div>

            

             <div *ngIf="actualservicio==2">
                <label *ngFor="let plan of planchados">
                    <p  style="margin-left: 10px; margin-right: 10px;"
                    (click)="this.efectos. addServicio(plan,2,planchados)"
                    class="centrarIZ"  *ngIf="!plan.elegido">
                        {{plan.servicio}} ${{plan.precio}}
                   </p>
                  </label>

                  <p *ngIf="this.efectos.cantidadPedidadDePlanchado == planchados.length" style="margin-left: 15px; margin-right: 15px; border: none;">
                      A solicitado todos los servicios de planchado :)
                  </p>
             </div>

            




  
            

            

          </div>


          <button class="centrar thebotonmas"  
          
          (click)="this.efectos.mostrarLista()">
            <img *ngIf="!this.efectos.listaServicios"
            src="{{this.efectos.iconMas}}" width="40px">
            <img *ngIf="this.efectos.listaServicios"
            src="{{this.efectos.iconMenos}}" width="40px">
          </button>
      </div>
     

     

      
      <div class="centrar" style="height: 30px;">



        <ion-button
        [disabled]="this.efectos.cantidadPedidaDeLavanderia==0 && 
        this.efectos.cantidadPedidaDeTintoreria==0 &&
        this.efectos.cantidadPedidadDePlanchado==0"
        (click)="this.efectos.next()"
        style="height:30px; "
        >
          Continuar
        </ion-button>
      </div>


      </div>





























  <div 
  [ngClass]="{'ocultar':this.efectos.actual!=1,'semegmento':this.efectos.actual==1 }">
      
    
      <h4>Tipo de entrega</h4>      
      <div class="contScroll" >

          <ion-list style="background: #252525">
          <ion-radio-group   [(ngModel)]="this.efectos.tipoDeEntrega">
            
        
                <p class="centrarIZ"    >
                    <ion-radio slot="start"  style="margin:3px; "
                    value="tipo1"
                    ></ion-radio>
                    Solo entregar ropa a lavandería

                    <img 
                    (click)="this.efectos.mostrarReparto('tipo1')"
                    src="{{this.efectos.duda}}" width="20px" style="margin:3px;cursor: pointer;  ">
                </p>  
    
               
                <p class="infoS"  *ngIf="this.efectos.reparto=='tipo1'">
                    En este servicio un empleado de flash wash llegará su domicilio para encargarse del pesaje de las prendas que tenga a disposición, del cobro de servicios de lavandería y transporte. Para posteriormente transporta la ropa a la lavandería seleccionada.
                </p>

          
           
         


            <p class="centrarIZ">
                <ion-radio 
                style="margin:3px; "
                value="tipo2" ></ion-radio>
                Solo entregar ropa a mi domicilio
                <img 
                (click)="this.efectos.mostrarReparto('tipo2')"
                src="{{this.efectos.duda}}" width="20px" style="margin:3px;cursor: pointer; ">
            </p>  


            <p class="infoS" *ngIf="this.efectos.reparto=='tipo2'">
                En este servicio un empleado de flash wash se encargará de entregar a su domicilio las prendas que usted llevará a la lavandería seleccionada. Una vez se le sea entregada su ropa se cobrará este servicio. 
            </p>

            
            <p class="centrarIZ">
                <ion-radio
                style="margin:3px; "
                value="tipo3" ></ion-radio>
                Servicio completo
                <img 
                (click)="this.efectos.mostrarReparto('tipo3')"
                src="{{this.efectos.duda}}" width="20px" style="margin:3px; cursor: pointer; ">
            </p>    

           
            <p class="infoS" *ngIf="this.efectos.reparto=='tipo3'">
               
              Este servicio incluye el transporte de ropa de: su domicilio a lavandería y de lavandería a su domicilio.  Este servicio se divide en dos cobros:  cuando se recoge la ropa y cuando se entrega. 

            </p>
          
              
        
            
            </ion-radio-group>
          </ion-list>




      </div>    

     


      
      <div class="centrar" style="height: 30px; padding: 5px;">

          <ion-button
          (click)="this.efectos.regresar()"
          style="margin: auto; height:30px;"
          >
            Regresar
          </ion-button>


        <ion-button
        [disabled]="this.efectos.tipoDeEntrega==null"
        (click)="this.efectos.next()"
        style="margin: auto;height:30px;"
        >
          Continuar
        </ion-button>
      </div>


      </div>


















































      <div 
      [ngClass]="{'ocultar':this.efectos.actual!=2,'semegmento':this.efectos.actual==2 }">
      
    
      <h4>Indicaciones</h4>      
      <div class="contScroll">

        <label >
          Indique información respecto a la situación de sus prendas:
          <br>
          <a style="font-size: 14px; color: #52de97;">Este campo es opcional</a>
        </label>

        <ion-textarea [(ngModel)]="this.efectos.indicaciones"
        rows="20" style="width: 100%; height: 50%; border: 1px solid gray; padding: 5px;"></ion-textarea>

      </div>    

     


      
      <div class="centrar" style="height:30px; padding: 5px;">

          <ion-button
          (click)="this.efectos.regresar()"
          style="margin: auto; height:30px;"
          >
            Regresar
          </ion-button>


        <ion-button
        (click)="this.efectos.next()"
        style="margin: auto; height:30px;"
        >
          Continuar
        </ion-button>
      </div>


      </div>














      
























      <div 
      [ngClass]="{'ocultar':this.efectos.actual!=3,'semegmento':this.efectos.actual==3 }">
      
    
      <h4>&nbsp; Ticket</h4>      
      <div class="contScroll " style="display: flex; flex-wrap: wrap; justify-content: center;">
         
        
        <div class="cobros" style="width: 100%;">
              <h6 style="color: gold;">Costes:</h6>
            <label *ngIf="this.efectos.tipoDeEntrega=='tipo1' || this.efectos.tipoDeEntrega=='tipo3'">
                <p style="font-size: 14px; color: #52de97;">Transportar a lavandería: </p>
                <a style="font-size: 14px; color: #c0ffb3;">Se cobrará cuando el repartidor realize el pesaje de sus prendas.</a>
                <p >${{this.precio}}</p>
              
            </label>
           
  
            <label *ngIf="this.efectos.tipoDeEntrega=='tipo2' || this.efectos.tipoDeEntrega=='tipo3'">
                <p style="font-size: 14px; color: #52de97;">Transportar a mi domicilio:</p>
                <a style="font-size: 14px; color: #c0ffb3;">Se cobrará cuando se le haga entreda de sus prendas listas.</a>
                <p >${{this.precio}}</p>
            </label>
            
            <!--label >
              <p style="font-size: 12px; color: #52de97;">servicios de lavandería:</p>
              <p>
                $50
              </p>
            </label-->
  
  
            <label >
              <p style="font-size: 14px; color: #52de97;">Servicios de lavandería: </p>
              <p style="font-size: 14px;">
                El coste por los servicios de lavanderia dependera de el pesaje de su ropa.
              </p>
            </label>
  
  
          </div>



          <div class="listaSer " style="width: 100%; height: auto;">
              <h6 style="color: white; font-size: 15px;">Servicios solicitados:</h6>
  
              <div *ngIf=" this.efectos.cantidadPedidaDeLavanderia!=0">
                  <h6 style="color: #52de97;">Lavandería:</h6>
                  <label *ngFor="let servi3 of servicios">
                      <p  class="centrarIZ" 
                      style="font-size: 13px;"
                      *ngIf="servi3.elegido">
          
                          - {{servi3.servicio}}
                      </p>
                 </label>
  
              </div>
  
  
              <div *ngIf=" this.efectos.cantidadPedidaDeTintoreria!=0">
                  <h6 style="color: #52de97;">
                    <br>
                    Tintoreria:</h6>
                  <label *ngFor="let tinto3 of tintoreria">
                      <p  class="centrarIZ" 
                      style="font-size: 13px;"
                      *ngIf="tinto3.elegido">
                          - {{tinto3.servicio}}
                      </p>
                 </label>
  
              </div>
  
  
              <div *ngIf=" this.efectos.cantidadPedidadDePlanchado!=0">
                  <h6 style="color: #52de97;">
                    <br>
                    Planchado:</h6>
                  <label *ngFor="let plan3 of planchados">
                      <p  class="centrarIZ" 
                      style="font-size: 13px;"
                      *ngIf="plan3.elegido">
                          - {{plan3.servicio}}
                      </p>
                 </label>
  
              </div>
             
  
  
            
          <label *ngIf="this.efectos.indicaciones!=''">
            <br>
              <p style="color: white;font-size: 15px;">Indicaciones:</p>
              <p style="font-size:14px; ">{{this.efectos.indicaciones}}   </p>
            </label>
    
          </div>



      

       

        


      </div>    

     


      
      <div class="centrar" style="height:30px; padding: 5px;">
         <ion-button style="margin: auto; height:30px;"
          (click)="this.efectos.regresar()"
          >
            Regresar
          </ion-button>

          <ion-button
          style="margin: auto; height:30px;"
          (click)="hacerSolicitud()"
          >
            Aceptar
          </ion-button>
      </div>


      </div>



























      <div id="Carga" class="cargando centrar" style="margin-left: 200% ;">

        <label class="centrar">
          <img src="../../../assets/iconos/A37.gif" width="30%">
          <p>Realizando pedido...</p>
        </label>

      </div>

    </div>
            
          
  
  
  </ion-content>