.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}










.lavanderiaCont{
    background: #eeeeee;
    width: 45%;
    display: flex;
    color: #394a6d;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 7px 5px 9px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 5px 9px -4px rgba(0,0,0,0.75);
    box-shadow: 7px 5px 9px -4px rgba(0,0,0,0.75);


    
}
.contImgLavanderia{
    padding: 2px;
    //background: #3c9d9b;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    width: 50%;
    height: auto;
}

.contImgLavanderia::content img{
    height: auto;
    max-width: 100%;
    border-radius: 5px;

}

.botonVermas{
    width: 80px;
    height: 25px;
    margin-top: 45%;
    font-size: 10px;
    float:right;
}

ion-item.selectable:hover {
    background-color: #afaeb6 !important;
  }



@media(max-width:600px){
   

  

    .lavanderiaCont{
        //background: gray;
        margin: auto;
        width: 90%;
        margin-bottom: 30px;
    }


}