<ion-header>
    <ion-toolbar color='primary'>
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
         </ion-buttons> 
      <ion-title>Guardados</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>


  
    <div style="display: flex; flex-wrap: wrap; width: 100%;">
    
       
    
    
          <div class="lavanderiaCont" *ngFor='let dd of lavandrias'>
            <div class="contImgLavanderia centrar">
              <img src="{{dd.imagene}}" >
            </div>
            <div style="width: 75%; font-size: 13px;">
              
              
                  <h4 style="margin: 5px; color: #1089ff; font-size: 17px;">
                    {{dd.nombre}}
                  </h4>       
                  
                  <p  class="statusClose">Lavado de ropa $40 por kilo</p>

                
                <ion-button color='medium' class="botonVermas"
                (click)="irALavanderia()"
                >Ver más</ion-button>        
            </div>
           
           
          </div>
    
          
          
        
    
    
</div>
      


</ion-content>
